html, body{
    background: url(shattered/shattered.png);
}

highscore-button {
    align-items: left;
    color: blue;
}

timer-button {
    align-items: right;
    color: green;
}

#start-btn {
    background-color:  red;
    height:40px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

#question {
    position:relative;
    top:50%; 
    left:50%;
    font-size: 30px;
}
#answer-buttons {
    font-size: 30px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
}

.hide {
    display: none;
}